.menu-item a{
    display: inline-block;
    background-color: #1fdab5;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.menu-item{
    display: inline-block;
    list-style: none;
}

.dogs, .no-dog {
    opacity: 0.2;
    transition: 3s;
}